@media (max-width: 640px) {
  header .logo {
    float: center;
    color: tomato;
  }

  .main-content .content-left .main-content-pix1 {
    width: 70%;
  }
  .main-content .content-left .main-content-pix2 {
    width: 70%;
  }
  .main-content .content-left .main-content-pix3 {
    width: 70%;
  }

  .content-table table tr .td3,
  .td4 {
    display: none;
  }
}

@media (max-width: 375px) {
  .content-table table tr,
  td {
    font-size: smaller;
  }
  .content-table h5 {
    font-size: small;
  }
}

@media (max-width: 768px) {
  .main-content .dashboard-list {
    /* width: 50%; */
  }
}
