* {
  margin: 0;
  padding: 0;
  color: black; }

header {
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  width: 100%; }
  header .logo {
    color: #24ccff;
    text-decoration: none;
    font-size: 40px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  header .search {
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px; }
  header .meun {
    padding-top: 10px; }
    header .meun ul {
      display: flex; }
      header .meun ul li {
        display: inline-flex;
        list-style: none; }
        header .meun ul li .img-container {
          border-radius: 50%;
          height: 40px;
          width: 40px;
          object-fit: cover;
          object-position: center; }
        header .meun ul li a {
          text-transform: uppercase;
          font-size: 14px;
          padding: 10px;
          transition: 0.5s;
          display: flex;
          align-items: center; }

.main-content {
  padding-top: 10px;
  background-color: white; }
  .main-content img {
    width: 5%;
    margin: 2px; }
    .main-content img h5 {
      display: inline-flexbox;
      background-color: 0; }
  .main-content .content-left {
    background-color: #eae4e4;
    border-radius: 2px;
    padding-top: 40px;
    height: 100%; }
    .main-content .content-left .image-text-dashboard .img-container {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      object-fit: cover;
      object-position: center; }
    .main-content .content-left .text-dashboard h5 {
      display: flex;
      justify-content: start; }
    .main-content .content-left img {
      height: 100%;
      padding-top: 15px;
      padding-bottom: 20px;
      padding: 5px;
      width: 100%; }
  .main-content .dashboard-list {
    margin-top: 30px;
    position: fixed; }
    .main-content .dashboard-list ul {
      margin: 0; }
      .main-content .dashboard-list ul a {
        text-decoration: none; }
      .main-content .dashboard-list ul li {
        list-style: none;
        padding: 7px;
        font-size: small;
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: center; }
        .main-content .dashboard-list ul li:hover {
          color: #24ccff; }
          .main-content .dashboard-list ul li:hover:active {
            color: palevioletred; }
        .main-content .dashboard-list ul li i:hover {
          color: #24ccff; }
          .main-content .dashboard-list ul li i:hover:active {
            color: palevioletred; }
        .main-content .dashboard-list ul li p {
          margin-bottom: 0; }
    .main-content .dashboard-list .dashboard-pix {
      position: relative;
      margin-left: 0; }
      .main-content .dashboard-list .dashboard-pix h5 {
        text-align: initial; }
        .main-content .dashboard-list .dashboard-pix h5 .img-container {
          border-radius: 50%;
          height: 40px;
          width: 40px;
          object-fit: cover;
          object-position: center; }
    .main-content .dashboard-list .btn-project {
      background-color: #24ccff;
      color: white;
      padding: 7px 7px;
      text-align: center;
      border: 0;
      border-radius: 2px; }

.content-table {
  background-color: white;
  padding: 20px 20px;
  margin-top: 30px;
  border-radius: 12px; }
  .content-table h5 {
    margin-left: 49px; }
  .content-table table {
    padding-top: 30px;
    width: 100%;
    border: 0; }
    .content-table table tr td {
      padding: 5px;
      text-align: center; }
      .content-table table tr td .btn-1 {
        padding: 5px;
        border-radius: 4px;
        text-align: center;
        transition: 0.5s;
        background-color: darkgreen; }
        .content-table table tr td .btn-1:hover {
          background-color: cornflowerblue; }
      .content-table table tr td .btn-2 {
        padding: 5px;
        border-radius: 4px;
        text-align: center;
        transition: 0.5s;
        background-color: purple; }
        .content-table table tr td .btn-2:hover {
          background-color: cornflowerblue; }
      .content-table table tr td .btn-3 {
        padding: 5px;
        border-radius: 4px;
        text-align: center;
        transition: 0.5s;
        background-color: brown; }
        .content-table table tr td .btn-3:hover {
          background-color: cornflowerblue; }
      .content-table table tr td .btn-4 {
        padding: 5px;
        border-radius: 4px;
        text-align: center;
        transition: 0.5s;
        background-color: orchid; }
        .content-table table tr td .btn-4:hover {
          background-color: cornflowerblue; }
      .content-table table tr td .btn-5 {
        padding: 5px;
        border-radius: 4px;
        text-align: center;
        transition: 0.5s;
        background-color: palevioletred; }
        .content-table table tr td .btn-5:hover {
          background-color: cornflowerblue; }
