$primary-color: #24ccff;
$meun-color: white;

@mixin table-btn {
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  transition: 0.5s;
  &:hover {
    background-color: cornflowerblue;
  }
}
@mixin hover-active {
  &:hover {
    color: $primary-color;
    &:active {
      color: palevioletred;
    }
  }
}
@mixin profile-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
}

* {
  margin: 0;
  padding: 0;
  color: black;
  // width: fit-content;
}
header {
  background-color: $meun-color;
  color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  width: 100%;
  // position: -webkit-sticky;
  .SASS {
    margin-top: 12px;
  }

  .logo {
    color: $primary-color;
    text-decoration: none;
    font-size: 40px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .search {
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    // text-transform: uppercase;
    padding-top: 20px;
  }
  .meun {
    padding-top: 10px;
    ul {
      display: flex;
      li {
        display: inline-flex;
        list-style: none;
        .img-container {
          @include profile-img;
        }

        a {
          text-transform: uppercase;
          font-size: 14px;
          padding: 10px;
          transition: 0.5s;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

body {
  // height: 90vh;
}

.main-content {
  padding-top: 10px;
  // height: 90.4vh;
  background-color: $meun-color;
  img {
    width: 5%;
    margin: 2px;
    h5 {
      display: inline-flexbox;
      background-color: blue($color: #000000);
    }
  }
  .content-left {
    background-color: rgb(234, 228, 228);
    border-radius: 2px;
    padding-top: 40px;
    height: 100%;
    .image-text-dashboard {
      .img-container {
        // padding: 8px;
        // width: 5%;
        // border-radius: 40px;
        // margin: 6px;
        @include profile-img;
      }
    }
    .text-dashboard {
      h5 {
        display: flex;
        justify-content: start;
      }
    }
    img {
      height: 100%;
      padding-top: 15px;
      padding-bottom: 20px;
      padding: 5px;
      width: 100%;
    }
  }
  .dashboard-list {
    margin-top: 30px;
    position: fixed;
    // top: 90px;
    // left: 0;
    // z-index: 1;

    ul {
      // margin-left: 5px;
      margin: 0;
      a {
        text-decoration: none;
      }
      li {
        list-style: none;
        padding: 7px;
        font-size: small;
        // padding-left: 13px;
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        @include hover-active;

        i {
          // padding-left: 15px;
          @include hover-active;
        }
        p {
          margin-bottom: 0;
        }
      }
    }

    .dashboard-pix {
      position: relative;
      margin-left: 0;
      h5 {
        text-align: initial;
        .img-container {
          @include profile-img;
        }
      }
    }
    .btn-project {
      background-color: $primary-color;
      color: $meun-color;
      padding: 7px 7px;
      // width: 100%;
      text-align: center;
      border: 0;
      border-radius: 2px;
    }
  }
}

.content-table {
  background-color: $meun-color;
  padding: 20px 20px;
  margin-top: 30px;
  // margin-left: 10px;
  // height: 60vh;
  // width: 100%;
  border-radius: 12px;
  h5 {
    margin-left: 49px;
  }
  table {
    padding-top: 30px;
    width: 100%;
    border: 0;
    // margin-left: 40px;
    tr {
      td {
        padding: 5px;
        text-align: center;
        .btn-1 {
          @include table-btn;
          background-color: darkgreen;
        }
        .btn-2 {
          @include table-btn;
          background-color: purple;
        }
        .btn-3 {
          @include table-btn;
          background-color: brown;
        }
        .btn-4 {
          @include table-btn;
          background-color: orchid;
        }
        .btn-5 {
          @include table-btn;
          background-color: palevioletred;
        }
      }
    }
  }
}
